#root {
	position: relative;

	overflow: auto;

	font-family: "Nunito Sans", sans-serif;
	font-style: normal;

	/* height: 100svh;
	width: 100vw; */
}

span {
	/* font-size: clamp(1.25rem, 0.939rem + 1.66vw, 2rem); */

	font-size: 1.5rem;
	font-weight: 400;
}
